<div class='app row'>
    <input #searchbar class='search-box' placeholder="Taper le nom d'une recette et appuyer sur Entrée..."
           (keydown.enter)="onEnterKey($event, searchbar)">
</div>

<!--<div class="container">-->
<!--<ul class="cards">-->
<!--<li class="cards__item" *ngFor="let recipe of recipes?.result">-->
<!--<app-recipe-card [recipe]="recipe"></app-recipe-card>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->

<div class="container">
    <main class="cards" *ngIf="recipeBoolAll">
        <app-recipe-card
                *ngFor="let recipe of recipesAll?.result | paginate: { itemsPerPage: 10, currentPage: p }"
                [recipe]="recipe">
        </app-recipe-card>
    </main>

    <main class="cards" *ngIf="recipeBoolBio">
        <app-recipe-card
                *ngFor="let recipe of recipesBio?.result | paginate: { itemsPerPage: 10, currentPage: p }"
                [recipe]="recipe">

        </app-recipe-card>
    </main>

    <main class="cards" *ngIf="recipeBoolAllerg">
        <app-recipe-card
                *ngFor="let recipe of recipesWithoutAllergens?.result | paginate: { itemsPerPage: 10, currentPage: p }"
                [recipe]="recipe">

        </app-recipe-card>
    </main>

    <main class="cards" *ngIf="recipeBoolSearch">
        <app-recipe-card
                *ngFor="let recipe of recipesSearch | paginate: { itemsPerPage: 10, currentPage: p }"
                [recipe]="recipe">

        </app-recipe-card>
    </main>
</div>

<div class="ngxPagination">
    <pagination-controls class="ngxPage"
                         (pageChange)="p = $event"
                         previousLabel="Précèdent"
                         nextLabel="Suivant"
                         maxSize="15"
                         directionLinks="true"
                         autoHide="true"
                         responsive="true">
    </pagination-controls>
</div>

<div class="custumSpin" *ngIf="!isLoading">
    <mat-spinner></mat-spinner>
</div>
