<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title pull-left"> Recette : {{ title.name}} </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div id="accordion" class="accordion">
            <div class="card mb-0">
                <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                    <a class="card-title">
                        Ingrédients & Prix
                    </a>
                </div>
                <div id="collapseOne" class="card-body collapse" data-parent="#accordion">
                    <ul class="modal-title pull-left">
                        <li *ngFor="let ing of title.ingredients">
                            {{ing.name}}
                        </li>
                        <p *ngIf="cptNot>0" style="margin-top: 10px">Recette à partir de {{recipePrice}}€ (moyenne des prix constatés). {{cptNot}} articles n'ont pas encore de prix</p>
                        <p *ngIf="cptNot==0" style="margin-top: 10px">Recette à partir de {{recipePrice}}€ (moyenne des prix constatés).</p>
                    </ul>
                </div>
                <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion"
                     href="#collapseTwo">
                    <a class="card-title">
                        Commentaires
                    </a>
                </div>
                <div id="collapseTwo" class="card-body collapse" data-parent="#accordion">
                    <ul class="modal-title pull-left">
                        <li *ngFor="let com of comments">
                            <b>{{com.pseudoUser}} :</b> {{com.content}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <form>
                <mat-form-field>
                    <mat-label>Pseudo</mat-label>
                    <input matInput #pseudo>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Commentaire</mat-label>
                    <input matInput #comment>
                </mat-form-field>
                <button mat-raised-button (click)="sendComment(pseudo, comment)">Envoyer</button>
            </form>
        </div>
    </div>
</div>

