@import url(http://fr.allfont.net/allfont.css?fonts=comic-sans-ms);

.navbarCl {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: darkcyan;
}

.nav-link {
  color: antiquewhite;
  font-size: 20px;
}

/*.nav-link:focus {
  color: darkorange;
}*/

.navbar-left {
  width: 200px;
}

ul li.active a {
  color: darkorange;

}
