<nav class="navbar navbar-expand-sm navbarCl">
  <!-- Brand/logo -->
  <a class="navbar-brand" routerLink="product">
    <img src="../../assets/256-256-12bbf9db6249ac6adcc273a20d19bdee-food.png" alt="logo" style="width:60px;">
  </a>

  <h1 class="brand brand-name navbar-left">
    <a class="navbar-left">Foody</a>
  </h1>

  <!-- Links -->
  <ul class="navbar-nav">

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="product">Produits</a>
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="recipe">Recettes</a>
    </li>

  </ul>
</nav>
<script type="text/javascript">
  jQuery(document).on('click', 'ul li', function () {
    jQuery(this).addClass('active').siblings().removeClass('active')
  })
</script>
