<div class='app row'>
    <input class='search-box' placeholder="Taper le nom d'un produit et appuyer sur Entrée..."
           (keydown.enter)="onEnterKey($event)">

    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="check_01" (change)="getAllProducts($event)"
               [checked]="foodsAllCheck">
        <label class="custom-control-label" for="check_01">Tous les aliments</label>
    </div>

    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="check_02" (change)="getBioProducts($event)"
               [checked]="foodsBioCheck">
        <label class="custom-control-label" for="check_02">Aliments Bio</label>
    </div>

    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="check_03" (change)="getAllergensProduct($event)"
               [checked]="foodsAllergCheck">
        <label class="custom-control-label" for="check_03">Aliments sans allergène</label>
    </div>



    <!--    <select class="form-control">
            <option>Type de produit</option>
            <option>Filtre 1</option>
            <option>Filtre 2</option>
            <option>Filtre 3</option>
        </select>

        <select class="form-control">
            <option>Type de produit</option>
            <option>Filtre 1</option>
            <option>Filtre 2</option>
            <option>Filtre 3</option>
        </select>

        <select class="form-control">
            <option>Type de produit</option>
            <option>Filtre 1</option>
            <option>Filtre 2</option>
            <option>Filtre 3</option>
        </select>-->

</div>

<div class="container">

    <ngx-spinner *ngIf="spinner.show()"></ngx-spinner>

    <ul class="cards">
        <li class="cards__item" *ngFor="let food of foods?.result | paginate: { itemsPerPage: 9, currentPage: p }">
            <app-food-card [food]="food"></app-food-card>
        </li>
    </ul>
    <pagination-controls class="ngxPage"
            (pageChange)="p = $event"
            previousLabel="Précédent"
            nextLabel="Suivant"
            maxSize="9"
            directionLinks="true"
            autoHide="true"
            responsive="true">
    </pagination-controls>
</div>
