<div class='app row'>
    <input #searchbar class='search-box' placeholder="Taper le nom d'un produit et appuyer sur Entrée..."
           (keydown.enter)="onEnterKey($event, searchbar)" (keydown.enter)="searchbar.value = ''">

    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="check_01" (change)="getAllProducts($event)"
               [checked]="foodsAllCheck">
        <label class="custom-control-label" for="check_01">Tous les aliments</label>
    </div>

    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="check_02" (change)="getBioProducts($event)"
               [checked]="foodsBioCheck">
        <label class="custom-control-label" for="check_02">Aliments Bio</label>
    </div>

    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="check_03" (change)="getWithoutAllergensProduct($event)"
               [checked]="foodsAllergCheck">
        <label class="custom-control-label" for="check_03">Aliments sans allergène</label>
    </div>
</div>

<div class="container">

    <main class="cards" *ngIf="foodBoolAll">
        <app-food-card
                *ngFor="let food of foodsAll?.result | paginate: { itemsPerPage: 10, currentPage: p }"
                [food]="food">

        </app-food-card>

        <div class="ngxPagination" *ngIf="pageBool">
            <pagination-controls class="ngxPage"
                                 (pageChange)="p = $event"
                                 previousLabel="Précèdent"
                                 nextLabel="Suivant"
                                 maxSize="10"
                                 directionLinks="true"
                                 responsive="true">
            </pagination-controls>
        </div>
    </main>

    <main class="cards" *ngIf="foodBoolBio">
        <app-food-card
                *ngFor="let food of foodsBio?.result | paginate: { itemsPerPage: 10, currentPage: p }"
                [food]="food">

        </app-food-card>

        <div class="ngxPagination" *ngIf="pageBool">
            <pagination-controls class="ngxPage"
                                 (pageChange)="p = $event"
                                 previousLabel="Précèdent"
                                 nextLabel="Suivant"
                                 maxSize="10"
                                 directionLinks="true"
                                 responsive="true">
            </pagination-controls>
        </div>
    </main>

    <main class="cards" *ngIf="foodBoolAllerg">
        <app-food-card
                *ngFor="let food of foodsWithoutAllergens?.result | paginate: { itemsPerPage: 10, currentPage: p }"
                [food]="food">

        </app-food-card>

        <div class="ngxPagination" *ngIf="pageBool">
            <pagination-controls class="ngxPage"
                                 (pageChange)="p = $event"
                                 previousLabel="Précèdent"
                                 nextLabel="Suivant"
                                 maxSize="10"
                                 directionLinks="true"
                                 responsive="true">
            </pagination-controls>
        </div>
    </main>

    <main class="cards" *ngIf="foodBoolSearch">
        <app-food-card
                *ngFor="let food of foodsSearch | paginate: { itemsPerPage: 10, currentPage: p }"
                [food]="food">

        </app-food-card>
        <div class="ngxPagination" *ngIf="pageBool">
            <pagination-controls class="ngxPage"
                                 (pageChange)="p = $event"
                                 previousLabel="Précèdent"
                                 nextLabel="Suivant"
                                 maxSize="10"
                                 directionLinks="true"
                                 responsive="true">
            </pagination-controls>
        </div>
    </main>
</div>
<div class="custumSpin" *ngIf="!isLoading">
    <mat-spinner></mat-spinner>
</div>


