<div class="modal-header">
  <h4 class="modal-title pull-left"> {{productName}} </h4>
</div>
<div class="modal-body">
  <p>Numéro du produit : <b>{{idProduct}}</b></p>

    <form #createPrice = "ngForm" (ngSubmit) = "onClickSubmit(idProduct, productName, createPrice.value)" >
      <input type = "text" name = "price" placeholder = " Prix" ngModel>
      <br><br>
      <input type = "text" name = "shop" placeholder = " Magasin concerné" ngModel>
      <br><br>
      <input  class="button4" type = "submit" value = "Valider">
    </form>
</div>
