<div class='app row'>
    <input class='search-box' placeholder="Taper le nom d'un produit et appuyer sur Entrée..."
           (keydown.enter)="onEnterKey($event)">

    <!-- Default unchecked -->
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="check_01">
        <label class="custom-control-label" for="check_01">Aliments Bio</label>
    </div>

    <!-- Default unchecked -->
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="check_02">
        <label class="custom-control-label" for="check_02">Aliments sans allergène</label>
    </div>
</div>

<div id="list">
    <form>
        <mat-form-field>
            <mat-label>Nom de la recette</mat-label>
            <input matInput #name>
        </mat-form-field>
    </form>
    <h4 align="center">Ingrédients de la recette :</h4>
    <div *ngFor="let recipeItem of recipeItems; let i = index">
        <mat-card>{{recipeItem.name}}
            <mat-card-actions>
                <button mat-icon-button color="warn" (click)="deleteItem(i)">
                    <mat-icon aria-label="delete button">delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
        <br>
    </div>
    <button *ngIf="recipeItems.length==0 || name.value==''" [disabled]="true" mat-raised-button (click)="addRecipe(name)">Ajouter la recette</button>
    <button *ngIf="recipeItems.length!=0 && name.value!=''" [disabled]="false" mat-raised-button (click)="addRecipe(name)">Ajouter la recette</button>
</div>

<div class="container">
    <ul class="cards">
        <li class="cards__item" *ngFor="let food of foods?.result | paginate: { itemsPerPage: 9, currentPage: p }">
            <app-select-recipe-card [food]="food"></app-select-recipe-card>
        </li>
    </ul>
    <pagination-controls class="ngxPage"
                         (pageChange)="p = $event"
                         previousLabel="Précédent"
                         nextLabel="Suivant"
                         maxSize="9"
                         directionLinks="true"
                         autoHide="true"
                         responsive="true">
    </pagination-controls>
</div>
