<div class='app row'>
    <input #searchbar class='search-box' placeholder="Taper le nom d'un produit et appuyer sur Entrée..."
           (keydown.enter)="onEnterKey($event, searchbar)" (keydown.enter)="searchbar.value = ''">
</div>
<div class="wrap">
    <div class="left">
        <div>
            <main class="cards" *ngIf="foodBoolAll">
                <app-select-recipe-card
                        *ngFor="let food of foodsAll?.result | paginate: { itemsPerPage: 10, currentPage: p }"
                        [food]="food">

                </app-select-recipe-card>
            </main>

            <main class="cards" *ngIf="foodBoolBio">
                <app-select-recipe-card
                        *ngFor="let food of foodsBio?.result | paginate: { itemsPerPage: 10, currentPage: p }"
                        [food]="food">

                </app-select-recipe-card>
            </main>

            <main class="cards" *ngIf="foodBoolAllerg">
                <app-select-recipe-card
                        *ngFor="let food of foodsWithoutAllergens?.result | paginate: { itemsPerPage: 10, currentPage: p }"
                        [food]="food">

                </app-select-recipe-card>
            </main>

            <main class="cards" *ngIf="foodBoolSearch">
                <app-select-recipe-card
                        *ngFor="let food of foodsSearch | paginate: { itemsPerPage: 10, currentPage: p }"
                        [food]="food">
                </app-select-recipe-card>
            </main>
        </div>
        <div class="ngxPagination" *ngIf="isLoading">
            <pagination-controls class="ngxPage"
                                 (pageChange)="p = $event"
                                 previousLabel="Précèdent"
                                 nextLabel="Suivant"
                                 maxSize="10"
                                 directionLinks="true"
                                 autoHide="true"
                                 responsive="true">
            </pagination-controls>
        </div>
    </div>
    <div class="right">
        <div id="list">
            <form id="formBtn">
                <input class='inputBtn' placeholder="Entrer le nom de la recette" #name>
                <button *ngIf="recipeItems.length==0 || name.value==''" [disabled]="true" mat-raised-button
                        (click)="addRecipe(name)">Ajouter la recette
                </button>
                <button *ngIf="recipeItems.length!=0 && name.value!=''" [disabled]="false" mat-raised-button
                        (click)="addRecipe(name)">Ajouter la recette
                </button>
            </form>
            <br>
            <h4>Ingrédients de la recette :</h4>
            <div *ngFor="let recipeItem of recipeItems; let i = index">
                <mat-card class="matCard">
                    <button mat-icon-button color="warn" (click)="deleteItem(i)">
                        <mat-icon aria-label="delete button">delete</mat-icon>
                    </button>
                    {{recipeItem.name}}
                </mat-card>
                <br>
            </div>
        </div>
    </div>
</div>

<div class="custumSpin" *ngIf="!isLoading">
    <mat-spinner></mat-spinner>
</div>
