<!--<div class="card">
  <img [src]="getImgUrl()">
  <div class="card__content">
    <div class="card__title">{{food.name}}</div>
    <button (click)="addToRecipe(food)" class="btn btn&#45;&#45;block card__btn">Ajouter à la recette</button>
  </div>
</div>-->

<article class="card">
    <img [src]="getImgUrl()" alt="Sample photo">
    <div class="text">
        <h4>{{food.name}}</h4>
    </div>
    <div class="btnCard">
        <button (click)="addToRecipe(food)" class="btn btn--block card__btn">Ajouter à la recette</button>
    </div>
</article>
