<!--<div class="card">
    <img [src]="getImgUrl()">
    <div class="card__content">
        <div class="card__title">{{food.name}}</div>
        <button (click)="openModal()" class="btn btn&#45;&#45;block card__btn">Voir plus de détails</button>
    </div>
</div>-->

<article class="card">
        <img [src]="getImgUrl()" alt="Sample photo">
    <div class="text">
        <h4>{{food.name}}</h4>
        <!--p>Collaboratively administrate empowered markets via plug-and-play networks.</p-->
    </div>
    <div class="btnCard">
        <button (click)="openModal()" class="btn btn--block card__btn">Voir plus de détails</button>
    </div>
</article>



