<!--<div class="card">
    <img [src]="getImgUrl()">
    <div class="card__content">
        <div class="card__title">{{food.name}}</div>
        <button (click)="openModal()" class="btn btn&#45;&#45;block card__btn">Voir plus de détails</button>
    </div>
</div>-->

<article class="card">
    <img [src]="getImgUrl()" alt="Sample photo">
    <div class="text">
        <h4>{{food.name}}</h4>
        <!--p>Collaboratively administrate empowered markets via plug-and-play networks.</p-->
    </div>
    <div class="btnCard">
        <button (click)="openModal()" class="btn btn-default btn-sm" title="Afficher plus de détails">
            <i class="fa fa-info-circle fa-2x"></i>
        </button>

        <button (click)="openModalAddPrince(food)" class="btn btn-default btn-sm" title="Ajouter un prix au produit">
            <i class="fa fa-euro fa-2x"></i>
        </button>

    </div>
</article>

